.parallax {
  width: 100vw;
  height: 100vh;
  z-index: 3;
}


.header-left {
  position: fixed;
  float: left;
  width: 18vw;
  top: 2vh;
  margin-left: 10.5vw;
  background-color: #fd4800;
  border: 0.35vw solid #fff;
  z-index: 1000;
}

.my-photo {
  width: 100%;
}

.personal-info {
  margin: 0 auto;
  padding-bottom: 0.2vw;
  padding-top: 0.5vw;
  width: 15.55555vw;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.8056vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
  border-bottom: 0.06944vw solid #FD9166;
}

.personal-info a:link, .personal-info a:visited, .personal-info a:active{
  text-decoration: none;
  color: #fff;
}

.personal-info.first {
  margin-top: -1vw;
}

.personal-info.end-block {
  border-bottom: 0.3vw solid #FD9166;
}

.personal-info.last-info {
  border-bottom: 0;
  padding-bottom: 1.5vw;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 3.6vw;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.8056vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 1vw;
  border: 0.3vw solid #ffffff;

}

.header-button-container {
  margin-top: 20vh;
  background-color: blue;
}

.header-button.snake {
  float: left;
  width: 16.5vw;
  margin-top: 2vw;
  background: #fd4800;
}

.header-button.pdf, .header-button.odt {
  float: left;
  width: 12.5vw;
  margin-top: 2vw;
  margin-left: 2vw;
  background: #000000;
}

a.pdf:link, a.pdf:visited, a.pdf:active, a.odt:link, a.odt:visited, a.odt:active {
  text-decoration: none;
  color: #fff;
}


.header-right {
  position: absolute;  
  float: left;
  display: block;
  width: 47.7431vw;
  height: 100vh;
  margin-top: -100vh;
  margin-left: 39vw;
  z-index: 1000;
}

.innokentiy-kuznetsov {
  -webkit-text-stroke: 0.2083vw #fff;
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 8vw;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.1806vw;
  color: rgba(255, 255, 255, 0);
  margin-top: 9.3vh;
}

.frontend {
  margin-top: 4vw;
  margin-left: 0.2vw;
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 3.4722vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}


