.resume {
font-family: "Martel-subset", Georgia;
font-size: 20px;
color: rgb(68, 68, 68);
}

.wrapper {
  font-family: "Martel-subset", Georgia !important;
  font-size: 20px;
  color: rgb(68, 68, 68);    
}

.paratext {
  font-family: "Martel-subset", Georgia;
  font-size: 20px;
  height: 300px;
  color: white;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

.special {
  font-weight: bold;
}
