

A:visited {
  color: #808000; /* Цвет посещенной ссылки */
}

.resume {
font-family: "Martel-subset", Georgia;
font-size: 20px;
color: rgb(68, 68, 68);
}

.resume-main {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
}

.wrapper {
  font-family: "Martel-subset", Georgia !important;
  font-size: 20px;
  color: rgb(68, 68, 68);
  padding: 0;
}

.paratext {
  font-family: "Martel-subset", Georgia;
  font-size: 20px;
  height: 300px;
  color: white;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

.special {
  font-weight: bold;
}

.photo {
  float: left;
  display: block;
}

.photo-holder {
  position: relative;
  overflow: hidden;
  width: 99%;
}

.personal-holder {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.resume-left {
  float: left;
  width: 22.1528vw;
  height: 62.9861vw;
  margin-top: 4.1667vw;
  margin-left: 4.1667vw;
  background-color: #fd4800;
  border: 3px solid green;
}


.my-photo {
  width: 100%;
}

.personal-info {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  padding-bottom: 0.5vw;
  width: 15.55555vw;
  height: 3.6vw;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.8056vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
  border-bottom: 1px solid #FD9166;

}


.personal-info.first {
  margin-top: -1vw;
}

.personal-info.end-block {
  border-bottom: 2px solid #FD9166;
}

.personal-info.last-info {
  border-bottom: 0;
}


.resume-right {
  float: left;
  display: block;
  width: 47.7431vw;
  height: 62.9861vw;
  margin-top: 4.1667vw;
  margin-left: 8.75vw;
  border: 3px solid green;

}

.innokentiy-kuznetsov {
  -webkit-text-stroke: 3px #000;
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 8vw;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 2.67px;
  color: rgba(255, 255, 255, 0);
  margin-top: 9.3vw;
}

.frontend {
  margin-top: 2vw;
  margin-left: 0.2vw;
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 3.4722vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #888888;
}


