@font-face {
    font-family: 'slkscr';
    src: url("slkscr.ttf");
  }

  body {
    font-family: 'slkscr';
  }

  img {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #E45C00;
  }
  
  a:visited {
    color: #2A1707;
  }  

  .none {
    display: none;
  }

  .soon {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .leftColumn {
    position: relative;
    float: left;
    height: 99vh;
    width: calc(100% - 315px);
  }
    
  .container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: 
    repeating-linear-gradient(rgb(193, 156, 123, .3), rgb(193, 156, 123, .3) 25px, transparent 25px, transparent 50px),
    repeating-linear-gradient( 90deg, rgb(193, 156, 123, .3), rgb(193, 156, 123, .3) 25px, transparent 25px, transparent 50px);
    background-color: peachpuff ;

  }
  
  .board {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;  
    margin: auto;
    font-size: 0;
    
    border: solid transparent;
    -moz-border-image: url(./img/framework.png) 25 round;
    -webkit-border-image: url(./img/framework.png) 25 round; 
    -o-border-image: url(./img/framework.png) 25 round;
    border-image: url(./img/framework.png) 25 round;
    background-color: peachpuff ;
  
  }
  
  .rightColumn {  
    float: right;
    height: 99vh;
    width: 22vw;
  }


  .toPlay, .speedRPS, .rabbitsToWin, .difficultyLevel, .technologyStack, .github, .offerAJob {
    position: relative;
    width: 20.5vw;
    margin-top: 0.7321vw;
    padding: 0.2vw;
    font-size: 1.1713vw;
    line-height: 1.7vw;
    border-radius: 0.366vw;
    border: 0.15vw solid #2A1707;
  
  }
  
  .info {
    font-size: 1.6105vw;
    font-weight: bold;
    color: #E45C00;
  }
  
  .sound {
    position: absolute;
    height: 3.6603vw;
    width: 3.6603vw;
    border: 0.15vw solid brown;
    top: 1.0981vw;
    right: 1.0981vw;
    border-radius: 0.366vw;
    border: 0.15vw solid #2A1707;
  
  }
  
  .playing {
    cursor: none; 
  }
  
  
  .head, .body, .bodyCurve, .tail, .rabbit, .bang, .fireworks {
    position: absolute;
  }
  
  
  .head {
    z-index: 9;
  }
  
  .bang, .fireworks {
    z-index: 10;
  }
  
  .left {
    transform: rotate(90deg);
  }
  
  .right {
    transform: rotate(270deg);
  }
  
  .up {
    transform: rotate(180deg);
  }
  
  .up-right, .right-up {
    transform: rotate(180deg);  
  }
  
  .left-up, .up-left {
    transform: rotate(90deg);  
  }
  
  .right-down, .down-right {
    transform: rotate(270deg);
  }
  
  .message {
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    font-family: 'slkscr';
    font-size: 100px;
    color: #2A1707;
    text-align: center;
    margin-top: 3.4905vw;
  
  }
    
  .start-menu-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
  }
  
  #level {
    position: relative;
    height: 2.1962vw;
    width: 10.981vw;
    margin: 0.7321vw;
    background: linear-gradient(to top, peachpuff, peachpuff, white); 
    background: -webkit-linear-gradient(bottom, peachpuff, peachpuff, white); 
    border-radius: 5px;
    border: 0.15vw solid #2A1707;
    text-align: center;
    line-height: 2.1962vw;
    font-family: 'slkscr';
    font-size: 1.4641vw;
    color: #2A1707;
  
  }
  
  #leveldown, #levelup {
    height: 2.1962vw;
    width: 1.8302vw;
    background: linear-gradient(to top, peachpuff, peachpuff, white); 
    background: -webkit-linear-gradient(bottom, peachpuff, peachpuff, white); 
    border-radius: 0.366vw;
    border: 0.15vw solid #2A1707;
    margin: 0.7321vw;
    font-family: 'slkscr';
    font-size: 2vh;
    color: #2A1707;
  
  }
  
  
  #leveldown, #level {
    float: left;
    position: relative;
  }
  
  #startButton {
    display: block;
    position: relative;
    height: 2.3426vw;
    width: 17.9356vw;
    margin: 0.7321vw;
    background: linear-gradient(to top, peachpuff, peachpuff, white); 
    background: -webkit-linear-gradient(bottom, peachpuff, peachpuff, white); 
    border-radius: 0.366vw;
    border: 0.15vw solid #2A1707;
    text-align: center;
    line-height: 2.1962vw;
    font-family: 'slkscr';
    font-size: 1.4641vw;
    color: #2A1707;
  
  }
  
  
  